# Allow Unicode IO.
set input-meta on
set output-meta on
set convert-meta off

set horizontal-scroll-mode off

set completion-ignore-case on
# Complete - == _
set completion-map-case on
set show-all-if-ambiguous on
# Complete the / at the end of symlinks to dirs
set mark-symlinked-directories on

# xterm escape code bindings.
"\e[1;3D": backward-word
"\e[1;3C": forward-word
"\e[1;5D": beginning-of-line
"\e[1;5C": end-of-line
