[color]
    ui = auto
[core]
    excludesfile = ~/.dotfiles/gituserignore
[merge]
    conflictstyle = diff3
    ff = false
    renormalize = true
[filter "spabs"]
    clean = expand --initial -t 4
    smudge = expand --initial -t 4
    required
[alias]
    s = status --short
    cm = commit
    co = checkout
    d = diff
    dc = diff --cached
    lg = log --graph
    graph = log --oneline --graph --decorate --all
    tar = !sh -c "git archive -o "$(basename $PWD)-$(git rev-parse HEAD).tar.bz2" HEAD"
    inject = "!f() { set -e; HASH=`git show $1 --pretty=format:\"%H\" -q`; shift; git commit -m \"fixup! $HASH\" $*; [ -n \"$(git diff-files)\" ] && git stash && DIRTY=1; git rebase $HASH^^ -i --autosquash; [ -n \"$DIRTY\" ] && git stash pop;}; f"
[push]
    default = simple
[user]
    name = David Selassie
    email = selassid@gmail.com
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[credential]
    helper = osxkeychain
[include]
    path = ~/.gitconfiglocal
