[color]
    ui = auto
[core]
    excludesfile = ~/.dotfiles/gituserignore
[include]
    path = ~/.gitlocalconfig
[merge]
    conflictstyle = diff3
    ff = false
    renormalize = true
[filter "spabs"]
    clean = expand --initial -t 4
    smudge = expand --initial -t 4
    required
[alias]
    co = checkout
    log = log --graph
    graph = log --oneline --graph --decorate
    tar = !sh -c "git archive -o "$(basename $PWD)-$(git rev-parse HEAD).tar.bz2" HEAD"
[push]
    default = simple
