"*":
  "atom-beautify":
    css:
      indent_size: 2
      newline_between_rules: true
    general:
      _analyticsUserId: "f3f7e604-15b4-475d-9276-6f2cfd4d1111"
    python:
      default_beautifier: "yapf"
  core:
    audioBeep: false
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "d2c712bb-6857-a489-4592-fe00372388eb"
  linter: {}
  "linter-eslint": {}
  "linter-flake8": {}
  "linter-markdown": {}
  "linter-stylelint": {}
  welcome:
    showOnStartup: false
