# Allow Unicode IO.
set input-meta on
set output-meta on
set convert-meta off

set horizontal-scroll-mode off

set completion-ignore-case on
# Complete - == _
set completion-map-case on
set show-all-if-ambiguous on
# Complete the / at the end of symlinks to dirs
set mark-symlinked-directories on

# Arrow key escape code bindings
"\e[1;9C": forward-word
"\e[1;9D": backward-word
